extends layout

block pageContent
  div.wrapper
    h1= message + ' >,<'
    //h2= error.status
    pre #{error.stack}
  div.wrapper
    p Please contact Chris about this error. 
      | Include a screenshot and any other pertinent information.
