extends layout

block pageContent
  h1= title
  p Welcome to #{title}
  hr
  p(style="text-align: left; padding: 20px;")
    | I don't believe in calling a product 'beta', so this website isn't going to be "Cerealbox Beta" 
    br
    br
    | It will however be a little bug and error prone while I work on it during this semester. Please bear with me and let me know your mind if you'd like an aspect changed. I am much more likely to devote time to this site and project if I feel people are waiting on and expecting to use this tool ^_^
